.entry-content .addthis_toolbox, .entry-content .addthis_button, .entry-header .addthis_toolbox, .entry-header .addthis_button {
	margin:10px 0 10px 0;
}
.addthis_button_tweet {
	min-width: 83px;
	float:left;
}
.atwidget iframe {
	max-width:none;
}
/*
     FILE ARCHIVED ON 09:27:31 Dec 21, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:04:24 Sep 30, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/